.container{
  width:100%;
  height: 540px;
}
#info{margin-top: 100px; position:fixed;background-color:rgba(13, 13, 13, 0.5);padding:10px 10px 10px 10px;font:13px bold sans-serif;color:#fff;left:0px;top:0px;width:100%;height:140px;overflow:hidden}

.mat-figure {
display: inline !important;
}
table {
  width: 100%;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
}
#leftcolumn, #rightcolumn {
 border: 1px solid grey;
 float: left;
 min-height: 450px;
 color: white;
}
#leftcolumn {
  width: 450px;
  background-color: #777;
  height: 540px;
}
#rightcolumn {
  width: 550px;
  background-color:white;
}
